<!DOCTYPE html>
<html lang="en">
  <div class="divao">
    <div class="card-container">
      <img
        src="https://www.brides.com/thmb/I2wQp4Dpnv8uO7CWhFivAyG5Lys=/1425x0/filters:no_upscale():max_bytes(200000):strip_icc():format(webp)/sq-f1e8951c35014091a65b673fbb5ae7a4.jpg"
        alt="Foto de festa de casamento"
      />
      <div class="container__text">
          <h1>Parabens pelo seu casamento!!!</h1>
          <h3 class="punch-line">Agora é hora de aproveitar os seus presentes</h3>
          <button class="btn">
            <%= link_to "Ver o meu giftcard", new_giftcard_session_path, class: "link" %>
          </button>
      </div>
    </div>
  </div>
</html>
