.login-card {
  border: 1px solid tomato;
  background-color: wheat;
  width: 30%;
  height: 50%;
  right: 400px;
  border-radius: 20px;
  margin-left: 35%;
  margin-top: 10%;

  .field {
    // border: 1px solid green;
    padding: 10px;

  }
}
