<footer class="footer-distributed">
  <div class="footer-left">
      <p class="footer-links">
        <a href="#"><%= link_to "Home", root_path %></a>
        ·
        <a href="#">Sobre</a>
        ·
        <a href="#">Faq</a>
        ·
        <a href="#">Contatos</a>
      </p>
    </div>

    <div class="footer-center"></div>

  <div class="footer-right">

    <p class="footer-company-about">
      <span>Sobre a Todo</span>
      Varias empresas já usam nossos giftcards para presentes e listas.
    </p>

    <div class="footer-icons">
      <a href="#"><i class="fa fa-facebook"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-github"></i></a>
    </div>

  </div>
</footer>
