<div class="nav">
  <div class="nav-header">
    <div class="nav-title">
      Todo
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>
</div>
